.card {
    max-width: 500px;
}

.w3-purple b {
    color: #7fff00;
}

#section .content .row {
    width: 100%;
}

.container h1 {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.4em;
}

.card, .card-1, .card-big {
    overflow: hidden;
    border-radius: 1.5rem;
    margin: 1.5em 0;
    background-color: rgba(75, 75, 75, 0.3);
    color: white;
}

.card-header {
    height: 200px;
    background-position: center;
}

.card h1 {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.4em;
}

.card .row {
    margin-bottom: 0.3em;
}

.card .col {
    align-self: center;
}