#footer {
    background-color: #403b62;
    width: 100%;
    color: white;
    text-align: center;
    padding: 1em;
}

#footer a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    color: white;
}

#footer a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    color: white;
}

#footer a:hover {
    color: lightsteelblue;
}

#social {
    margin: .5em 0;
}

#social img {
    width: 30px;
    margin: 0 .5em;
}